version: '3.9'

services:
  django:
    build:
      context: .
      args:
        BUILD_ENV: ${BUILD_ENV:-prod}
    container_name: modulo-ia-django
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    #depends_on:
    #  - db
    env_file: .env_prod
    entrypoint: sh ./scripts/entrypoint.sh
    networks:
      - sigicnetwork


networks:
  sigicnetwork:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: "1360"